@import 'colors';

.deck-card {
  border: 5px solid $navy-blue !important;
  border-radius: 15px !important;
  transition: border 0.1s ease-in;
  height: 20em !important;
  text-align: center;

  &:hover {
    border: 5px solid $yellow !important;
  }
}

.button {
  margin-right: 1em !important;
}