@import 'colors';

@font-face {
  font-family: 'ChildsHand';
  src: asset-path(ChildsHand) format("opentype");
  src: font_url('ChildsHand.ttf');
}

html {
  background-color: $light-blue;
}

body {
  background-color: $light-blue;
}

footer {
  background-color: $navy-blue;
  text-align: center;
}

.nav-container{
  width: 100%;
  box-sizing: border-box;
  background-color: $light-blue;
  padding-left: 8%;
  padding-right: 8%;
}

.navbar{
  display: flex;
  align-items: center;
  padding-top: 2rem;
  background-color: $light-blue;
}

.logo{
  width: 5rem;
  cursor: pointer;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 4rem;
  text-align: center;

  & a{
    text-decoration: none;
    color: $navy-blue;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "ChildsHand";

    &:hover {
      color: $yellow;
    }
  }
}

.center{
  text-align: center;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'ChildsHand';
  font-weight: bold;
  color: $navy-blue;
}

p {
  font-family: 'ChildsHand';
}

.search {
  &__container {
    width: 100% !important;
    margin: 0 auto !important;
  }

  &__title {
      font-size: 22px !important;
      font-weight: 900 !important;
      text-align: center !important;
      color: $yellow;
      margin-top: 0.8rem;
  }

  &__input {
      width: 100% !important;
      padding: 12px 24px !important;
      margin-bottom: 12px;

      transition: transform 250ms ease-in-out !important;
      font-family: 'ChildsHand';
      font-size: 1.1rem !important;

      color: #575756;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
      background-repeat: no-repeat !important;
      background-size: 18px 18px !important;
      background-position: 95% center !important;
      border-radius: 100px !important;
      border: 1px solid #575756 !important;
      transition: all 250ms ease-in-out !important;
      backface-visibility: hidden !important;
      transform-style: preserve-3d !important;

      &::placeholder {
          color: color(#575756 a(0.8)) !important;
          text-transform: uppercase !important;
          letter-spacing: 1.5px !important;
      }

      &:hover,
      &:focus {
          padding: 12px !important;
          outline: 0 !important;
          border: 1px solid transparent !important;
          border-bottom: 1px solid #575756 !important;
          border-radius: 0 !important;
          background-position: 100% center !important;
      }
  }
}

input {
  display: block;
  font-size: 1.3rem;
  font-family: "ChildsHand";
  font-weight: bold;
}

label {
  margin-bottom: 0.8rem !important;
}

.card {
  &.selected{
    border: 6px solid $yellow !important;
  }
}

.page-header {
  margin-top: 1rem;
}

.page-container {
  background-color: $light-blue;
  width: 100%;
  height: 100%;
}

.action-button {
  display: block;
  text-align: center;
  width: 12rem;
  color: $yellow;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 1rem;
  background-color: $red-orange;
  border-radius: 15px;

  &:hover{
    background-color: $yellow;
    color: $navy-blue;
    font-size: 1.03rem;
  }
}

.select {
  &__placeholder {
    font-size: 1rem;
  }

  &__input {
    font-size: 1rem;
  }

  &__multi-value__label {
    font-size: 1rem;
  }
}

.css-g1d714-ValueContainer {
  font-family: "ChildsHand";
  font-size: 1.3rem;
}

.flash {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "ChildsHand";
  font-size: 1.7rem;
}

.error-alert {
  list-style: none !important;
  font-family: "ChildsHand";
  font-size: 1.5rem;
}