@import "colors";

.start-game-button {
  display: block;
  padding: 0.7rem 1.4rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: $yellow;
  background-color: $navy-blue;
  box-shadow: inset 0 -0.6rem 0 -0.35rem rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  cursor: pointer;
  font-family: "ChildsHand";
  font-weight: bolder;
  font-size: 1.5rem;

  &:active {
    top: 0.1rem;
  }
}