@import "colors";

.form-field {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.form-label {
  margin: 0 auto !important;
}

.form-header {
  margin-bottom: 1rem;
}

.form-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: $navy-blue;
  border: 1px solid $red-orange;
  background-color: $red-orange;
  width: 6rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    color: $yellow;
    border: 2px solid $yellow;

  }
}

.remember-me {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.field {
  align-items: center !important;
}

.user-form {
  width: 80%;
  margin: 0 auto;
  border: 3px solid $navy-blue
}